<% include ./partials/header.ejs %>
<!DOCTYPE html>
<html>
<head>
	<title>Sample Project</title>

	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

	<link rel="stylesheet" type="text/css" href="css/theme.css">
</head>
<body>
	<nav id="luke" class="navbar navbar-default">
	  <div class="container-fluid">
	    <!-- Brand and toggle get grouped for better mobile display -->
	    <div class="navbar-header">
	      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
	        <span class="sr-only">Toggle navigation</span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	        <span class="icon-bar"></span>
	      </button>
	      <a class="navbar-brand" href="#">Home</a>
	    </div>

	    <!-- Collect the nav links, forms, and other content for toggling -->
	    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
	      <ul class="nav navbar-nav">
	      	<li><a href="#">Favorites</a></li>
	        <li class="dropdown">
	          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Explore<span class="caret"></span></a>
	          <ul class="dropdown-menu">
	          	<li><a href="#">New Games</a></li>
	            <li><a href="#">Reviews</a></li>
	            <li><a href="#">News</a></li>
	            <li><a href="#">Coming Soon</a></li>
	            <li><a href="#">Popular Games</a></li>
	            <li role="separator" class="divider"></li>
	          </ul>
	        </li>
	      </ul>
	      <form id="search" class="row">
	    <div class="form-group col-sm-7 col-md-7">
			    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Search">
			  </div>
			  <div class="form-group col-sm-2 col-md-2">
			 	<button type="submit" class="btn btn-default">Submit</button>
			  </div>
			</form>
			
			</a>
        <a id="signup" class="btn btn-default" href="file:///Users/billy/General-Assembly/mapping-wireframes/signup.html">Sign Up/Log In</a>
        
			
	    </div><!-- /.navbar-collapse -->
	   
	  

	  </div><!-- /.container-fluid -->
	</nav>
	<div class="container-fluid">
		<div class="container">
			<div class="page-header">
				<h1>Pioneer Gaming <small>Where it all begins</small></h1>
				<p>Welcome to Pioneer Gaming! This website is for all the nerds out there that love video games. The mission of Pioneer Gaming is to help gamers discover new games and also remember all of the classics at the same time!</p>
			</div>
		</div>
		

			<div class="row">
				<h3 class="videoTitle">Game of the Week</h3>
				<div class="col-md-6">
					<iframe width="520" height="415"
					src="https://www.youtube.com/embed/dU4KroB9KGQ?autoplay=1">
					</iframe>

				</div>
				<div class="col-md-6">
				<h3>Popular Games</h3>
					<ul>
						<li>AAAAAAAAA</li>
						<li>BBBBBBBBB</li>
						<li>CCCCCCCCC</li>
						<li>DDDDDDDDD</li>

					</ul>
				</div>
			</div>
			<div class="row">
				<div class="col-md-12">
					<div class="panel panel-default">
					  <div class="panel-heading">A cool panel</div>
					  <div class="panel-body">
					    Three wolf moon typewriter helvetica, pinterest snackwave hashtag flexitarian freegan raclette jianbing chambray la croix cred bushwick pug. Marfa hammock banh mi pickled green juice. Brunch hammock la croix, kickstarter butcher tattooed four dollar toast organic poke sartorial pitchfork narwhal post-ironic prism man braid. Quinoa VHS mustache mlkshk green juice, single-origin coffee locavore you probably haven't heard of them tofu polaroid semiotics glossier.
					  </div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<!-- jQuery -->
	<script type="text/javascript" src="https://code.jquery.com/jquery-3.1.1.min.js"></script>

	<!-- Latest compiled and minified JavaScript -->
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

</body>
</html>
<% include ./partials/footer.ejs %>