body {
	background-color: black;
}

.jumbotron {
	background-color: black;
}

.container {
	font-family: 'Bungee Inline', cursive;
	color:	#32CD32;
}

.panel-body {
	background-color: black;
}

.panel-footer {
	background-color: black;
}

.review-game {
	background-color: #32CD32;
}

.delete-game {
	background-color: #32CD32;
}