body {
	background-color: black;
}

.jumbotron {
	background-color: black;
}

.container {
	font-family: 'Bungee Inline', cursive;
	color:	#32CD32;
}

.panel-body {
	background-color: black;
}

.panel-footer {
	background-color: black;
}

.review-game {
	background-color: #32CD32;
}

.delete-game {
	background-color: #32CD32;
}

.navbar-default {
	background-color: black;
}

.navbar-brand {
	background-color: #32CD32;
}

.navbar-nav {
	color: #32CD32;
}

.add {
	color: #32CD32;
}

p {
	font-size: 26px;
}


a {
	color: #32CD32;
}

.list-group-item {
	background-color: black;
}

#singlebutton {
	background-color: #32CD32;
}

#saveReview {
	background-color: #32CD32;
}